.nav-toggle {
  width: 24px;
  height: 24px;
  
  border: none;
  background: url("/src/images/icon-hamburger.svg") no-repeat center center;
  transition: all .2s ease-in-out;

  @media (min-width: 800px) {
    display: none;
  }
}

.nav-toggle--close {
  background: url("/src/images/icon-close.svg") no-repeat center center;
}

.btn {
  background: var(--cl-button);
  padding: .8em 1.75em;
  border-radius: 4px;
  margin-right: 1.4em;
  
  @media (min-width: 768px) {
    padding: 1em 2em;
  }
}
