.title {
  font-size: 2.5rem;
  font-weight: var(--strong);
  line-height: 39px;
  text-transform: uppercase;
  color: var(--cl-strong);
  padding: .6em 0 .4em 0;

  @media (min-width: 800px) {
    font-size: 4rem;
    line-height: 100%;
  }
} 


.subtitle,
.subtitle--hightlight {
  font-size: 1rem;
}

.subtitle {
  font-weight: var(--regular);
  letter-spacing: 0.28em;
  color: var(--cl-regular);
  text-transform: uppercase;
}

.subtitle--hightlight {
  background: var(--cl-strong);
  color: var(--cl-light);

  font-weight: var(--strong);
  letter-spacing: 0.065em;
  
  padding: 0.2em 0.6em;
  border-radius: 15px;
  margin-right: .5em;
}


.text {
  font-size: 1.13rem;
  font-weight: var(--regular);
  line-height: 26px;
  color: var(--cl-text);
  font-family: 'Barlow', sans-serif;
}


.nav__link,
.nav__link--login {
  font-size: 1.19rem;
  font-weight: var(--strong);
  text-transform: uppercase;
  letter-spacing: 0.035em;

  @media (min-width: 800px) {
    font-size: 1rem;
  }
}

.nav__link {
  color: var(--cl-strong);
}

.nav__link--login {
  color: var(--cl-regular);
}


.label,
.btn {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: .88rem;
  text-transform: uppercase;

  @media (min-width: 800px) {
    font-size: 1rem;
  }
}

.label {
  font-weight: var(--regular);
  letter-spacing: 0.175em;
  color: var(--cl-regular);
  
  @media (min-width: 800px) {
    letter-spacing: 0.285em;
  }
}

.btn {
  font-weight: var(--strong);
  letter-spacing: 0.065em;
  color: var(--cl-light);
}