:root {
  --strong: 700;
  --regular: 400;

  /* --desktop: 800px; */
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, 
abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, 
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, 
label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, 
details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, 
summary, time, mark, audio, video {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  font-family: 'Barlow Condensed', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: min(82.93%, 1108px);
  margin-left: auto;
  margin-right: auto;
}

:root {
  --cl-button: hsl(0, 100%, 68%);

  --cl-strong: hsl(230, 29%, 20%);
  --cl-text: hsl(230, 11%, 40%);
  --cl-regular: hsl(231, 7%, 65%);
  --cl-light: hsl(207, 33%, 95%);
}

.title {
  font-size: clamp(2.5rem, 1.7326rem + 3.2742vw, 4rem);
  font-weight: 700;
  font-weight: var(--strong);
  line-height: 39px;
  text-transform: uppercase;
  color: hsl(230, 29%, 20%);
  color: var(--cl-strong);
  padding: .6em 0 .4em 0
}

@media (min-width: 800px) {

.title {
    line-height: 100%;
    padding: .325em 0 .5em 0
}
  }

.subtitle,
.subtitle--hightlight {
  font-size: 1rem;
}

.subtitle {
  font-weight: 400;
  font-weight: var(--regular);
  letter-spacing: 0.28em;
  color: hsl(231, 7%, 65%);
  color: var(--cl-regular);
  text-transform: uppercase;
}

.subtitle--hightlight {
  background: hsl(230, 29%, 20%);
  background: var(--cl-strong);
  color: hsl(207, 33%, 95%);
  color: var(--cl-light);

  font-weight: 700;

  font-weight: var(--strong);
  letter-spacing: 0.065em;
  
  padding: 0.2em 0.6em;
  border-radius: 15px;
  margin-right: .5em;
}

.text {
  font-size: 1.13rem;
  font-weight: 400;
  font-weight: var(--regular);
  line-height: 26px;
  color: hsl(230, 11%, 40%);
  color: var(--cl-text);
  font-family: 'Barlow', sans-serif;
}

.nav__link,
.nav__link--login {
  font-size: 1.19rem;
  font-weight: 700;
  font-weight: var(--strong);
  text-transform: uppercase;
  letter-spacing: 0.035em
}

@media (min-width: 800px) {

.nav__link,
.nav__link--login {
    font-size: 1rem
}
  }

.nav__link {
  color: hsl(230, 29%, 20%);
  color: var(--cl-strong);
}

.nav__link--login {
  color: hsl(231, 7%, 65%);
  color: var(--cl-regular);
}

.label,
.btn {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: .88rem;
  text-transform: uppercase
}

@media (min-width: 800px) {

.label,
.btn {
    font-size: 1rem
}
  }

.label {
  font-weight: 400;
  font-weight: var(--regular);
  letter-spacing: 0.175em;
  color: hsl(231, 7%, 65%);
  color: var(--cl-regular)
}

@media (min-width: 800px) {

.label {
    letter-spacing: 0.285em
}
  }

.btn {
  font-weight: 700;
  font-weight: var(--strong);
  letter-spacing: 0.065em;
  color: hsl(207, 33%, 95%);
  color: var(--cl-light);
}

.nav-toggle {
  width: 24px;
  height: 24px;
  
  border: none;
  background: url("/src/images/icon-hamburger.svg") no-repeat center center;
  transition: all .2s ease-in-out
}

@media (min-width: 768px) {

.nav-toggle {
    display: none
}
  }

.nav-toggle--close {
  background: url("/src/images/icon-close.svg") no-repeat center center;
}

.btn {
  background: hsl(0, 100%, 68%);
  background: var(--cl-button);
  padding: .8em 1.75em;
  border-radius: 4px;
  margin-right: 1.4em
}

@media (min-width: 768px) {

.btn {
    padding: 1em 2em
}
  }

.nav {
  position: absolute;
  right: 0;
  top: 100px;

  height: 0;
  width: 0;
  overflow: hidden;

  transition: all .25s ease-in-out;
  z-index: 10
}

@media (min-width: 800px) {

.nav {
    position: relative;
    top: 0;

    height: auto;
    width: auto
}
  }

.nav .nav__list {
    background: #fff;
    padding-bottom: 1.44em
  }

@media (min-width: 800px) {

.nav .nav__list {
      background: transparent;
      padding-bottom: 0;

      display: flex;
      gap: 2.5em
  }
    }

.nav .nav__item {
    padding-top: 1.44em;
    margin-left: 1.44em;
    margin-right: 1.44em
  }

@media (min-width: 800px) {

.nav .nav__item {
      padding-top: 0;
      margin: 0
  }
    }

.nav .nav__item--login {
    margin-top: 1.44em;
    border-top: 1px solid hsl(231, 7%, 65%);
    border-top: 1px solid var(--cl-regular)
  }

@media (min-width: 800px) {

.nav .nav__item--login {
      position: relative;
      margin-top: 0;
      border: none;
      margin-left: 3.3em
  }

      .nav .nav__item--login::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -3.2em;
        transform: translateY(-50%);
        width: 6px;
        height: 6px;
        background: hsl(231, 7%, 65%);
        background: var(--cl-regular);
        border-radius: 8px;
      }
    }

.nav--active {
  text-align: center;
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

  transition: all .25s ease-in-out;
}

.header {
  position: relative;
  padding: 2.44em 0;
  
  display:  flex;
  justify-content: space-between;
  align-items: center
}

@media (min-width: 800px) {

.header {
    padding: 4em 0
}
  }

.logo {
  width: 24px;
  height: 24px
}

@media (min-width: 800px) {

.logo {
    width: 32px;
    height: 32px
}
  }

.logo img {
    width: 100%;
  }

.wrapp {
  position: relative;
  overflow: hidden
}

@media (min-width: 768px) {

.wrapp {
    min-height: 100vh
}
  }

.wrapp::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;

    width: 50vw;
    height: 26.56em;
    background: hsl(207, 33%, 95%);
    border-bottom-left-radius: 60px
  }

@media (min-width: 800px) {

.wrapp::before {
      transform: translateX(14px);
      z-index: -2
  }
    }

.main {
  padding-bottom: 5.75em
}

@media (min-width: 800px) {

.main {
    padding-bottom: 6.5em;
    margin-top: 12vh;
    
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: left
}
  }

.illustration {
  position: relative;
  height: 21.94em
}

.illustration .illustration__hero {
    position: absolute;
    top: 20px;
    left: -22px;
    height: 15.2em
  }

@media (min-width: 562px) {

.illustration .illustration__hero {
      left: 50%;
      transform: translateX(-50%)
  }
    }

@media (min-width: 800px) {

.illustration .illustration__hero {
      height: min(70vh, 29em);
      /* height: 29em; */
      left: 50%;
      top: -14%;
      transform: translateX(3.5vh)
  }
    }

@media (min-width: 800px) {

.content {
    width: 50%
}
  }

.subsection {
  display: flex;
  align-items: center;
  margin-top: 1.69em
}

@media (min-width: 800px) {

.subsection {
    margin-top: 4em
}
  }
