.wrapp {
  position: relative;
  overflow: hidden;

  @media (min-width: 768px) {
    min-height: 100vh;
  }
  
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;

    width: 50vw;
    height: 26.56em;
    background: hsl(207, 33%, 95%);
    border-bottom-left-radius: 60px;

    @media (min-width: 800px) {
      transform: translateX(14px);
      z-index: -2;
    }
  }
}

.main {
  padding-bottom: 5.75em;
  
  @media (min-width: 800px) {
    padding-bottom: 6.5em;
    margin-top: 12vh;
    
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: left;
  }
}

.illustration {
  position: relative;
  height: 21.94em;

  & .illustration__hero {
    position: absolute;
    top: 20px;
    left: -22px;
    height: 15.2em;

    @media (min-width: 562px) {
      left: 50%;
      transform: translateX(-50%);
    }
    
    @media (min-width: 800px) {
      height: min(70vh, 29em);
      /* height: 29em; */
      left: 50%;
      top: -14%;
      transform: translateX(3.5vh);
    }
  }
}

.content {
  @media (min-width: 800px) {
    width: 50%;
  }
}

.subsection {
  display: flex;
  align-items: center;
  margin-top: 1.69em;
  
  @media (min-width: 800px) {
    margin-top: 4em;
  }
}